backups/
design/session.session
design/session.session-journal
design/Logs/
design/Variables/__pycache__
design/Requests/__pycache__
design/Databases/__pycache__
target/test.session
target/test.session-journal
target/Logs/
target/Variables/__pycache__
target/Requests/__pycache__
target/Databases/__pycache__
.stfolder/
